@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-900 antialiased selection:bg-indigo-100 selection:text-indigo-900;
  }

  /* Custom Scrollbar - Global */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-50;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full border-2 border-slate-50 transition-colors;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-400;
  }
}

@layer components {
  /* Utility for specific containers */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-indigo-200 rounded-full;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-400;
  }
}
